[Unit]
Description=Starts and stops the Jivelite
Wants=squeezelite.service
After=squeezelite.service

[Service]
Type=simple
GuessMainPID=yes
User=root
ExecStart=/home/pi/startJivelite.sh
Restart=on-failure
WorkingDirectory=/home/pi

[Install]
WantedBy=multi-user.target
